@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-prev, .swiper-button-prev{
  height: 32px!important;
  width: 32px!important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px!important; 
  font-weight: bolder;
  color: #172554!important;
}

input{
  background-color: #fafafa;
}

#searchBar::-webkit-search-cancel-button{
  appearance: none;
}

#quantity::-webkit-inner-spin-button, #quantity::-webkit-outer-spin-button{
  appearance: none;
}